
<p><img src='<%= user.photos[2].value %>' alt='Your Avatar Image' /></p>
<p>ID: <%= user.id %></p>
<p>Name: <%= user.displayName %></p>

<p>Please push button to select a random game</p>
<button type = "submit">Choose game</button>

